.film {
    padding: 20px;
}
  
.film h2 {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.favorite {
    padding: 14px 28px;
    border: none;
    outline: none;
    background-color: goldenrod;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.1s ease;
}

.favorite:hover {
    background-color: gold;
}

.prev-next-btns {
    display: flex;
    justify-content: center;
}

.prev-next {
    padding: 8px 16px;
    border: none;
    outline: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: 0.1s ease;
    margin: 10px 10px 10px 0;
}

.prev-next:hover {
    background-color: #ccc;
    color: #444;
}